header{
    margin-left: 40px;
      margin-right: 40px;
      padding: 10px;
      background: #000;
      color: #fff;
      display: flex;
      flex-direction: row;
  }
  
header h1{

    bottom: 10px;
    text-align: center;
    }
    header ul{
        position: absolute ;
        right: 0px;
        top: 10px;
    margin : 0px;
    padding: 0;
    list-style: none;
    }
    
    header li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    font-weight: 900;
    }
    
  .media {
    margin: auto;
    display: block;
      float: right;
  }
  
  .box{
      margin-left: 40px;
      margin-right: 40px;
      padding: 10px;
      background: #e7718b;
      color: whitesmoke;
      display: flex;
      flex-direction: row;
  }
  .landing{
      padding: 10px;
  }
  .landing button{
  color: whitesmoke;
  background-color: #303231;
  }
  .laptop{
      float: right;
  }
  .bar {
      margin-left: 40px;
      margin-right: 40px;
      padding: 10px;
      background: #f4f4f6;
      
  }
  
  .bar h2 {
      font-weight: 400;
      margin: 0;
  }
  
  .middle{
      position: relative;
   top: 10px;
   left: 10px;
   text-size-adjust: 40px;
  display: flex;
  }
  
  .middle p{
      text-decoration-color: rgba(128, 128, 128, 0.884);
  }
  
  .middle li {
      position: absolute;
      float: right;
      justify-content: space-evenly;
  }
  
  footer{
  position: relative;
  display: flex;
  border-top-color: #f4f4f6;
  margin-left: 40px;
      margin-right: 40px;
      padding: 10px;
   }
   
  footer img{
      border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    height: 150px;
    
  }
  
  .search{
      float: right;
      justify-content: space-evenly;
  }
    .search2{
      float: right;
     margin-top: 0px;
    }  
  
  footer ul {
      margin: 0;
      padding: 0;
      list-style: none;
  }